body {
	margin: 0;
	padding: 0;
	font-family: georgia, times, "times new roman", serif;
	color: #000;
	background:#FFFFFF url(../images/page-back.gif) repeat-x scroll 0%;
	font-size: 18px;
}
#container {
	width: 90%;
	margin: 10px auto;
	background-color: #fff;
	color: #333;
	line-height: 130%;
	background-position: right;
}
a {
	color: #4284B0;
	text-decoration: none;
}
a:hover {
	color: #9EC068;
}

/********** CSS for Header (Logo etc) *************/
#header {
	padding: 2px;
	margin: 0;
	background-color: #fff;
}
#header .header-top {
	height: 110px;
	background-image: url(../images/home_03.gif);
}
img {
	margin: 0;
	padding: 0;
	border: 0;
}
#header .header-left {
	float: left;
	width: 154px;
	height: 132px
}
#header .header-center {
	float: left;
	width: 43px;
	height: 132px
}
#header .header-right {
	float: right;
	width: 300px;
	font-size: 12px;
	color: #666666;
}
#header h1 {
	padding: 0;
	margin: 0;
}

/********** CSS for Left-side column *************/
#leftnav {
	float: left;
	width: 160px;
	margin: 0;
	padding: 1em;
}

/********** CSS for Right-side column *************/
#rightnav {
	float: right;
	width: 160px;
	margin: 0;
	padding: 1em;
}
#rightnav img {
	width:150px;
}

/********** CSS for Main Body *************/
#content {
	margin-right: 200px;
	border-right: 1px solid gray;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	max-width: auto;
}
#content .yap_url {
	padding: 5px;
	margin:0 auto;
    background:#E6E6E6;
	color:#000;
	background:#FFFFFF url(../images/sidebar.png) repeat-x scroll 0%;
	font-size: 18px;
}
#content .odd {
    background:#FFFFFF url(../images/gradient_yellow.gif);
}
#content .even {
    background:#FFFFFF url(../images/gradient_blue.gif) repeat-x scroll 0%;
}
#content .yap_url .yap_links {
	font-size: 18px;
}

#content .tags {
	font-size: 16px;
	color: brown;
}

#content .yapsent {
    font-size: 16px;
    color: brown;
	font-style: italic;
}

#content .yapper {
	font-size: 16px;
	color: black;
    font-family: arial, courier-new;
}

#content .time_submitted {
	font-size: 12px;
	color: black;
    font-family: arial, courier-new;
}

/********** CSS for Footer *************/
#footer {
	clear: both;
	margin: 0;
	padding: .5em;
	color: #333;
	background-color: #fff;
	border-top: 1px solid gray;
	font-style: italic;
	font-size: 0.70em;
}
#footer .footer-left {
	float: left;
	width: 65%;
}
#footer .footer-right {
	float: right;
	width: 30%;
}
#leftnav p { margin: 0 0 1em 0; }
#rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

#sort_tabs {
    text-align: center;
	margin:0px;
	padding:0px;
}

#sort_tabs #most_yaps {
    color: black;
    text-decoration: underline;
}

#sort_tabs #most_recentyaps {
    color: black;
    text-decoration: underline;
}

#sort_tabs #most_numberyaps {
    color: black;
    text-decoration: underline;
    
}

#content_0 {
   min-width: 600px;
   width: 85%;
   overflow: hidden;
   float: left;
   margin:0;
   padding:0;
}
#content_1 {
	float: left;
	/*border: 1px solid red;*/
	max-width: 300px;
	padding: 10px;
	margin: 2px;
	overflow: hidden;
}
#content_2 {
    /*border: 2px solid red; */
    padding: 10px;
    margin: 2px;
    float: right;
    width: 220px;
    background-color:#BDEDFF;
    overflow: hidden;
}
#content_1 input {
    font-size: 16px;
    width: 200px;
}
#content_2 input {
    font-size: 16px;
    width: 200px;
}
#content_1 ul {
    margin-left: 0;
    padding-left: 10px;
}
#content_1 li{
    margin-left: 0;
}

#signin {
    /*border: 2px solid red; */
    width: 370px;
    padding: 10px;
    margin: 0px;
    float: left;
    background-color:#BDEDFF;
}

#content h1 {
    font: 26px Helvetica, Arial, sans-serif;
    color:#006699;
    font-weight:bold;
    padding:0;
    margin:0;
}