@CHARSET "ISO-8859-1";


body {
    margin: 0;
    padding:0;
    background: white;
}

.clear { clear:both; }

.main {
    border: 2px solid white;
    margin: 2px;
    background-color: white;
    /*padding: 2px;*/
    /*width: 300px;*/
    /*height: 280px;*/
    font-size: 12px;
    font-family: arial, georgia, times, "times new roman", serif;
}

.main_non_iframe {
    border: 2px solid white;
    margin: 2px auto;
    background-color: white;
    /*padding: 2px;*/
    width: 100%;
    min-width: 320px;
    /*height: 280px;*/
    font-size: 12px;
    font-family: arial, georgia, times, "times new roman", serif;
}
#main .hd {
    /*border: 1px solid red;*/
    margin: 2px;
    margin-bottom: 0px;
    padding: 2px;
    vertical-align: top;
}
#minimize_bar {
    /*border: 1px solid red;*/
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 10px;
    background-color: #F78181;
    text-align: left;
    font-size: 10px;
}

#minimize_bar:hover {
    cursor: pointer; cursor: hand;
}
	
#ft {
    /*border: 1px solid red;*/
    margin: 2px;
    padding: 2px;
    /*width: 300px;*/
    width: 94%;
    overflow: auto;
    min-width: 180px;
    float: left;
}
#bd {
    /*border: 1px solid red; */
    margin: 0px;
    padding: 0px;
}
#bd2 {
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 0px;
    /*width: 90%;
    height: 50%;
    float: left;*/
    overflow: auto;
}
#msg {
    border: 1px solid green;
    margin: 2px;
    padding: 2px;
    float: left;
    /*width: 200px;*/
    width: 70%;
    min-width: 180px;
    height: 150px;
    overflow: auto;
    font-family: arial, courier-new, serif;
}

.sender {
	color: brown;
	/*font-weight: bold; */
    font-family: arial, courier-new, courier, georgia, times, "times new roman", serif;
}

/*on_row and off_row define background to alternate row colors */
/*for the row class below.  used with multiple classes in a row */
.on_row{
   background-color:#E3E4FA;
}
.off_row{
   background-color:white;
}

.row{
   color:gray;
   padding-top: 2px;
   padding-bottom: 2px;
   /*margin-top: 3px;*/
   font-size:12px;
   /* provides divider between msgs*/
   border-top: 1px solid gray;
}

#yappers {
    border: 1px solid green;
    margin: 2px;
    padding: 2px;
    float: left;
    overflow: auto;
    width: 18%;
    min-width: 76px;
    max-width: 150px;
    height: 150px;
    font-family: arial, courier-new, courier, georgia, times, "times new roman", serif;
}
#moderator {
    border: 0px solid green;
    margin: 2px;
    padding: 2px;
    float: left;
    overflow: auto;
    width: 14%;
    min-width: 76px;
    max-width: 150px;
    height: 150px;
    font-family: arial, courier-new, courier, georgia, times, "times new roman", serif;
}
#flag_user {
	

}
#tags {
    border: 1px solid red;
    margin: 2px;
    padding: 2px;
    float: left;
    overflow: auto;
    width: 18%;
    min-width: 76px;
    max-width: 150px;
    height: 150px;
    font-family: arial, courier-new, courier, georgia, times, "times new roman", serif;
    display: none;
}

#links{
    /*border: 1px solid green;*/
    margin: 2px;
    padding: 2px;
    float: left;
    min-width: 76px;
    width: 18%;
    height: 45px;
    overflow: auto;
    text-align: left;
}
#yap {
    border: 1px solid green;
	/**
    font-size: 12px;
    height: 50px;
    **/
    /*width: 210px;*/
    width: 70%;
    min-width: 180px;
    height: 45px;
    margin: 2px;
    padding: 2px;
    float: left;
}

#chat_textarea {
    /*border: 1px solid green;*/
    border: 0;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
    /*width: 225px;*/
    width: 70%;
    min-width: 180px;
    overflow: auto;
    height: 45px;
    float: left;
}

#main .yui-resize-handle-br {
    right: 0;
    bottom: 0;
    height: 8px;
    width: 8px;
    position: absolute;
}

#main_c.hide-scrollbars .yui-resize .bd {
    overflow: hidden;
}

#main_c.show-scrollbars .yui-resize .bd {
    overflow: auto;
}

#main_c.show-scrollbars .underlay {
    overflow: visible;
}

#login_dialog .bd {
    /*height: 75px; */
}

#signup_dialog .bd {
    /*height: 75px; */
}

#invite_friend_dialog .bd {
    /*height: 75px; */
}

#invite_friend_dialog label {
    display:block;
    float:left;
    width: 55%;
    clear:left;
}
	
#add_tags_dialog label {
    display:block;
    float:left;
    width: 95%;
    clear:left;
}
	
label { 
    display:block;
    float:left;
    width: 35%;
    clear:left;
}

#login_info {
    margin: 2px;
    padding: 0;
}

#star_rating {
   background-color:white;
}

