@CHARSET "ISO-8859-1";

#yaps {
	border: solid green 1px;
	float: left;
	overflow: auto;
	width: 60%;
	height: 300px;
    margin: 0;
    padding:0;
}

#yap {
	border-bottom: 1px solid gray;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}

#yappers {
	border: solid green 1px;
	float: right;
	overflow: auto;
	width: 37%;
	height: 300px;
	padding: 2px;
}

#yapper {
	border-bottom: 1px solid gray;
	padding-left: 5px;
	clear: both;
	font-size: 12px;
	font-family: arial;
	/*, courier-new, courier, georgia, times, "times new roman", serif;*/
}

.sender {
	color: brown;
	font-family: arial, courier-new, courier, georgia, times;
	font-size: 12px;
}

.msg {
	font-family: arial, courier-new, courier, georgia, times;
	font-size: 12px;
}

.msg_time {
	font-family: arial, courier-new, courier, georgia, times;
	font-size: 10px;
	color: gray;
	float: right;
}