AddHandler fastcgi-script fcg fcgi fpl
AddHandler php5-fastcgi .php
#Action php5-fastcgi /php5-wrapper.fcgi
Action php5-fastcgi /dispatch.fcgi
Options +ExecCGI
Options -Indexes


<FilesMatch "\.inc$">
  Order Deny,Allow
  Deny from All
  Allow from env=REDIRECT_STATUS
</FilesMatch>

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
</FilesMatch>

<FilesMatch "\.(ico|pdf|flv)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

<FilesMatch "\.(xml|txt|css|js)$">
Header set Cache-Control "max-age=172800, proxy-revalidate"
</FilesMatch>

Header unset ETag
FileETag None

